body {
  background-color: rgb(239, 249, 249);
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div{
  font-family: Roboto;
  text-align: center;
}

.google-logo{
  width: 300px;
  margin-bottom: 15px;
}

.text-box{
  font-size: 16px;
  width: 450px;
  border: none;
  margin-bottom: 26px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
  border-radius: 10px;
}

.btn1{
  margin-right: 6px;
  font-size: 14px;
  font-weight: 400;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

.btn2{
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 420px) {
  body {
    flex-direction: column;
  }

  .text-box {
    width: 80%;
  }
}